Package: pulseaudio-sennheiser-gsp670
Version: 1.2
Maintainer: Szabolcs Szőke <szszoke.code@gmail.com>
Homepage: https://github.com/szszoke/sennheiser-gsp670-pulseaudio-profile
Architecture: all
Depends: pulseaudio, udev
Section: sound
Description: PulseAudio configuration for the Sennheiser GSP670 wireless gaming headset
